.UserRegistry input,
.UserEdit input{
    margin-bottom : 30px;
}

.search {
    margin-bottom: 20px;
    padding : 15px;
}

table {
    border : 2px solid rgb(37, 37, 75);
    width : 90%;
    margin: 10px auto 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(37, 37, 75);
  }

.UserList{
    text-align: center;
}

#searchBox{
    margin-bottom: 20px;
}

#search{
    margin-right : 10px;
}

